@charset utf-8;
/*------------------------------------------------------------------------------------------
 * GLOBALS
 *------------------------------------------------------------------------------------------
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    background-image: url('/btp/img/page-bg.png');
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}
/*------------------------------------------------------------------------------------------
 * FONTS
 *------------------------------------------------------------------------------------------
 */

@font-face {
    font-family: BebasNeueRegular;
    src: url('/btp/fonts/BebasNeue-webfont.eot?#iefix') format(embedded-opentype), url('/btp/fonts/BebasNeue-webfont.woff') format(woff), url('/btp/fonts/BebasNeue-webfont.ttf') format(truetype), url('/btp/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format(svg);
    font-weight: 400;
    font-style: normal;
}
/*------------------------------------------------------------------------------------------
 * Layouts
 *------------------------------------------------------------------------------------------
 */
#news > article > a,.contact > a,body > nav { display:none;}
#yukleniyor {
background: url(http://loadinggif.com/generated-image?imageId=36&bgColor=%23000000&fgColor=%23d9002d&transparentBg=1&download=0&random=0.5822470632847399) no-repeat center center;
height: 100%;
width: 100%;
position: fixed;
left:0;
top:0;
z-index: 1000;
}

@media (min-width: 1200px) {} .container {
    width: 1045px !important;
}
header {
    background: url('/btp/img/header_bg.jpg') top center no-repeat;
    margin: 0px auto;
    position: relative;
    width: 100%;
    height: 180px;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}
.contents {
    background-color: white;
    padding-top: 10px;
    -moz-box-shadow: inset 0 0 2px #FFF, 0 0px 5px #cacaca;
    -webkit-box-shadow: inset 0 0 2px white, 0 0px 5px #CACACA;
    box-shadow: inset 0 0 2px white, 0 0px 5px #CACACA;
}
/*------------------------------------------------------------------------------------------
 * HEADER
 *------------------------------------------------------------------------------------------
 */

.contact > a{
    float: right;
    width: 75px;
    text-align: center;
    font-size: 18px;
    color: black;
}

ul#main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#main-menu a {
    color: white;
}
.blog-nav {
    margin-top: 0px;
    background-color: rgb(133, 12, 12);
}
/* Nav links */

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    border: 1px solid rgb(102, 0, 0);
    border-width: 0 1px 0 0;
    transition: all .2s ease-in-out;
}
.blog-nav-item: last-child {
    border: none;
}
.blog-nav-item:hover, .blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}
.sub-menu {
    position: absolute;
    display: block;
    width: 200px;
    z-index: 999;
}
.sub-menu li {
    border: none !important;
    padding: 5px 15px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    background-color: rgb(133, 12, 12);
    margin: 0 0 0 -55px;
    min-width: 150px;
}
#main-menu li ul {
    display: none;
}
#main-menu li:hover ul {
    display: block;
}
.blog-nav-item:hover, .blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: black;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #B63036;
    border-color: #000000;
}
/*------------------------------------------------------------------------------------------
 * SECTION
 *------------------------------------------------------------------------------------------
 */

.columnist-last-post {
    width: 667px;
    height: 85px;
    background: url('/btp/img/columnist-bg.jpg') top center no-repeat;
    margin: 20px 0px;
}
.columnist-content {
    margin-left: 240px;
    padding-top: 20px;
    font-size: 12px;
    width: 420px;
}
.columnist-content a, a:hover {
    color: black;
    text-decoration: none;
}
#main-menu > li > ul > li > a:hover{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    display: block;
}
.sidebar-module-title > h4 {
    float: left;
    font-size: 20px;
    text-transform: capitalize;
    font-family: BebasNeueRegular, arial, Georgia, serif;
    margin: -5px 3px 0px 0px;
}
.news-section-title {
    margin-bottom: 20px;
}
.news-section-title > h3 {
    float: left;
    font-size: 32px;
    text-transform: capitalize;
    font-family: BebasNeueRegular, arial, Georgia, serif;
    margin: -5px 3px 0px 0px;
    color: black;
}

.stripe-title {
    background: url('/btp/img/stripe.png');
    height: 12px;
    overflow: hidden;
    margin-top: 5px;
}
.stripe-title-big {
    background: url('/btp/img/stripe_big.png');
    height: 23px;
    overflow: hidden;
    margin-top: 5px;
}
ul.cat-news {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul.cat-news li {
    border: 1px solid rgb(235, 235, 235);
    border-width: 0 0 1px 0;
    clear: both;
    margin-bottom: 5px;
    font-size: 12px;
    background-color: #F7F7F7;
    padding: 5px;
}
ul.cat-news li:hover {
    background-color: #F1EEEE;
}
ul.cat-news li p {
    text-align: justify;
}
ul.cat-news li h4 a{
    font-size: 13px;
    text-transform: none;
    font-weight: 100;
    color:black;
}
div > div.home-main > div.row > div: nth-child(1) {
    border-right: 1px solid #EBEBEB;
}
ul.cat-news li img {
    float: left;
    margin: 0px 10px 0px 0px;
    width: 50px;
    height: 50px;
    color: transparent;
}

ul.cat-news li.first {
    background: none;
    padding: 0px;
}
ul.cat-news li.first p {
    padding: 0px 0px 0px 2px;
}
ul.cat-news li.first h3 a {
    padding: 0px 0px 0px 2px;
    font-size: 24px;
    color:black;
}
ul.cat-news li.first img {
    float: none;
    width: 320px;
    height: 210px;
    margin-bottom: 5px;
    color: black;
}
/*
ul.cat-news li:first-child {
    background: none;
    padding: 0px;
}
ul.cat-news li:first-child p {
    padding: 0px 0px 0px 2px;
}
ul.cat-news li:first-child h3 {
    padding: 0px 0px 0px 2px;
    font-size: 24px;
}
ul.cat-news li:first-child img {
    float: none;
    width: 320px;
    height: 210px;
    margin-bottom: 5px;
}*/
/*------------------------------------------------------------------------------------------
 * CONTENT
 *------------------------------------------------------------------------------------------
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}
.blog-main {
    font-size: 18px;
    line-height: 1.5;
}
/*
 * blog posts
 */

.blog-post {
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}
/* Pagination */

.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}
/*------------------------------------------------------------------------------------------
 * CONTENT NEWS - LOOP & SINGLE
 *------------------------------------------------------------------------------------------
 */

#news article {
    float: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #ECECEC;
    min-height: 50px;
    width: 100%;
    padding-bottom: 10px;
}
#news article:hover {
    border-bottom: 1px solid rgb(248, 209, 209);
}

#news > article > a > h3 {
    color: #820211;
}

#news > article.single > a > h3 {
    color: #820211;
    font-size: 35px;
}

#news article img {
    float: right;
    margin: 10px 0px 0px 10px;
    width: 220px;
    height: 150px;
}

#news article.single img {
    float: right;
    margin: 0px 0px 10px 10px;
    width: 100%;
    height: 350px;
}

#news article p {
    color: #333;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    text-align: justify;
}
/*------------------------------------------------------------------------------------------
 * SIDEBAR
 *------------------------------------------------------------------------------------------
 */

.sidebar-module {
    padding: 0px 15px 15px 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p: last-child, .sidebar-module-inset ul: last-child, .sidebar-module-inset ol: last-child {
    margin-bottom: 0;
}
/*------------------------------------------------------------------------------------------
 * FOOTER
 *------------------------------------------------------------------------------------------
 */

footer {
    margin-top: 20px;
    border-top: 10px solid #DBDBDB;
    background: #333;
}
.footer {
    width: 1045px;
    margin: 0 auto;
    min-height: 150px;
    color: #999;
    text-align: center;
    background-color: #333;
    background: url('/btp/img/footer-bg.png') top left no-repeat;
}
.footer p: last-child {
    margin-bottom: 0;
}
.copyright {
    width: 1045px;
    margin: 0 auto;
    color: rgb(170, 170, 170);
    border-top: 1px solid #4B4B4B;
    padding: 5px;
    font-size: 12px;
    border-radius: 20px;
    text-align: center;
}
/*------------------------------------------------------------------------------------------
 * SlIDER
 *------------------------------------------------------------------------------------------
 */

section#slider {
    margin-top: 0px;
}
.ei-slider ul, ol {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    list-style-type: none;
}
.ei-slider {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 400px;
    margin: 0 auto;
}
.ei-slider-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    line-height: 400px;
}
.ei-slider-large {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.ei-slider-large li {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ei-slider-large li img {
    width: 100%;
}
.ei-title {
    position: absolute;
    right: 0%;
    margin-right: 1%;
    top: 60%;
    width: auto;
    padding: 10px;
    max-width: 400px;
}
.ei-title h2, .ei-title h3 {
    text-align: right;
}
.ei-title h2 {
    font-size: 18px;
    line-height: 18px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #b5b5b5;
    padding: 5px 10px;
}
.ei-title h3 {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize;
    color: #fff;
    background-color: #860E0E;
    padding: 5px 10px;
}
.ei-slider-thumbs {
    height: 13px;
    margin: 0 auto;
    position: relative;
    max-width: 100% !important;
    padding: 0px;
}
.ei-slider-thumbs li {
    position: relative;
    float: left;
    height: 100%;
}
.ei-slider-thumbs li.ei-slider-element {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    z-index: 10;
    text-indent: -9000px;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
}
.ei-slider-thumbs li a {
    display: block;
    text-indent: -9000px;
    background: #666;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover {
    background-color: #f0f0f0;
}
.ei-slider-thumbs li img {
    position: absolute;
    bottom: 15px;
    opacity: 0;
    z-index: 999;
    max-width: 100%;
}
/*
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)));
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
*/

.ei-slider-thumbs li:hover img {
    opacity: 1;
    bottom: 13px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
    .ei-title {
        position: absolute;
        right: 0px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        top: auto;
        bottom: 10px;
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        padding: 5px 0;
   }
   .ei-title h2, .ei-title h3 {
       text-align: center;
  }
  .ei-title h2 {
      font-size: 20px;
      line-height: 24px;
 }
 .ei-title h3 {
     font-size: 30px;
     line-height: 40px;
}
}


/*TOGGLE*/
.close, .close {
color: #000;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=50);
opacity: .5;
}
.toggle {
    background: #F6F6F6;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #E1E1E1;
    border-bottom: 1px solid #979797;
    padding: 5px 10px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin-left: 28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.toggle h3 {
    padding-bottom: 5px;
    padding-top: 3px;
    margin-bottom: 0;
    text-shadow: 0 1px 1px #FFF;
    cursor: pointer;
    background: url(/btp/img/toggle-close.png) no-repeat right;
    font-size: 11px;
    font-weight: bold;
}
h3.toggle-head-close {
    background: url(/btp/img/toggle-open.png) no-repeat right;
    display: none;
}
.toggle-content {
    padding-top: 15px;
}
.toggle.close .toggle-content, .toggle.close h3.toggle-head-open {
    display: none;
}
.toggle.close h3.toggle-head-close {
    display: block;
    min-width: 565px;
}
.accordion {
    margin-top: 30px;width: 616px;
}
.accordion h4.head {
    background: url("/btp/img/bg_accordeon.png") no-repeat scroll 0 -28px transparent;
    cursor: pointer;
    height: 28px;
    padding: 8px 0 0 36px;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.accordion h4.head.ui-state-active {
    background-position: 0 0px;
}
.accordion .content {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 580px;
}